/* DESKTOP FIRST */

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* LAYOUT */

body {
    background: linear-gradient(#009688 20% ,  #DBDBD3 20% ,  #DBDBD3 60%); 
}

.viewport {
    width: 100%;
    height: 100vh;
}

.wrapper {
    width: 80%;
    height: 90%;


    /* DEBUG */
    border: 1px solid black;
    
}

/* UTILITIES */

.flex {
    display: flex;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

/* WRAPPER */

.list-chat {
    width: 30%;
    height: 100%;
    /* DEBUG */
    background-color: aqua;
}

.chat {
    width: 70%;
    height: 100%;
    /* DEBUG */
    background-color: lightcoral;
}

