/* DESKTOP FIRST */

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input[type="search"] {
    border: 0;
}

/* LAYOUT */    

body {
    background: linear-gradient(#009688 20% ,  #DBDBD3 20% ,  #DBDBD3 60%); 
}

:root {
    --main-color: #EAEAEA;
    --header-height: 60px;
    --notifications-height: 60px;
    --search-box-height: 40px;
    --footer-height: 60px;
}

.viewport {
    width: 100%;
    height: 100vh;
}

.wrapper {
    width: 80%;
    height: 95%;


    /* DEBUG */
    border: 1px solid black;
    
}


/* UTILITIES */

.flex {
    display: flex;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.bg-main {
    background-color: var(--main-color);
}

/* WRAPPER */

.chat-name {
    width: 30%;
    height: 100%;
    border-right: 1px solid lightgray;
    background-color: white;
}

.chat {
    width: 70%;
    height: 100%;
    /* DEBUG */
    background-color: lightcoral;
}

.search-box {
    height: 40px;
    padding: 5px;
}

.search-box input {
    width: 100%;
}

/* CHAT-NAME */

header{
    height: var(--header-height);
    justify-content: space-between;
}

.notifications {
    background-color: #8EDAFC;
    height: var(--notifications-height);
}

.chat-name main {
    height: calc(100% - var(--header-height) - var(--notifications-height) - var(--search-box-height));
    overflow-y: auto;
}

/* CHAT */

footer {
    height: var(--footer-height);
}

.chat main {
    height: calc(100% - var(--header-height) - var(--footer-height));
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
}

.chat-list li {
    border-bottom: 1px solid var(--main-color);
    height: 5em;
}

@media screen and (max-width:768px) {

    .wrapper {
        width: 100%;
        height: 100%;
    }

    .chat-name {
        width: 10%;
        min-width: var(--header-height);
    }

    .chat-name main {
        height: calc(100% - var(--header-height));

    }

    .notifications {
        display: none;
    }

    .chat {
        width: 90%;
    }

    .search-box {
        display: none;
    }
    
}

@media screen and (max-width:425px) {

    .chat-name {
        width: 0%;
        min-width: 0%;
    }

    .chat {
        width: 100%;
    }
    
}